<!-- <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            DETAIL OF THE BOOK
        </title>
    </head> 
    <body>
        -->

{% extends 'index.html' %}
{% load static %}
{% block content %}

    
        <h5>
            DETAIL OF THE BOOK YOU SELECTED:
        </h5>

        <div class="card" style="width:18 rem;">
            {% if book.image %}
             <img src="{{ book.image.url }}" class="card-img-top" alt="">
            {% else %}
             <img src="{% static '_.jpeg' %}" class="card-img-top" alt="">
            {% endif %}

                 <div class="card-body">
                      <p class="card-text"> {{book.title}}</p>
                      <p>{{book.price}}</p>
                </div>
        </div>

{% endblock %}

    <!-- </body>
</html> -->